<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose the better letter!</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <main>
        <section>
                <h2>Choose the better letter!</h2>
        </section>

        <section>
            {% for next_match_candidate in next_match_candidates %}
            <aside>
                <section>
                    <a href="#" class="prefer_candidate">
                        <button value="{{next_match_candidate.name}}" class='btn-pref'>
                            "{{next_match_candidate.name}}" is better!
                        </button>
                    </a>
                </section>
            </aside>
            {% endfor %}
        </section>

        <article>
            <h3>Results</h3>
            <p>Elo score calculates the relative score of candidates in a pool in a zero-sum games such as
                a binary choice. <br /> Parameters: default_elo_score=100, k_factor=32, scale_rating_factor=400. Source:
                <a href="What is the everyone's favorite letter in the English language?">Wikipedia</a>.</p>
            <table class="sortable">
                <thead>
                    <tr>
                        <th>Letter</th>
                        <th>ELO</th>
                        <th>Win Rate</th>
                        <th>Matches</th>
                        <th>Wins</th>
                        <th>Losses</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidate in all_candidates %}
                    <tr id="{{candidate.name}}">
                        <td>{{candidate.name}}</td>
                        <td>{{candidate.elo_score}}</td>
                        <td>{{candidate.win_rate}}</td>
                        <td>{{candidate.matches}}</td>
                        <td>{{candidate.wins}}</td>
                        <td>{{candidate.losses}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>
    </main>
    <footer>
        <hr>
        <p>
            <small>Made with ❤️ by Kory</small>
        </p>
    </footer>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://tofsjonas.github.io/sortable/sortable.js"></script>
</body>

</html>
