<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What is the everyone's favorite letter in the English language?</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <main>
        <section>
            <header>
                <h2>Choose the better letter!</h2>
                <p>What does everyone think the best letters in the English language are?</p>
            </header>

            {% for item in candidates %}
            <aside>
                <section>
                    <a href="#" class="prefer_candidate">
                        <button value="{{item.candidate_id}}" class='btn-pref'>
                            "{{item.candidate_id}}" is better!
                        </button>
                    </a>
                </section>
            </aside>
            {% endfor %}

            <article>
                <h3>Results</h3>
                <p>Elo score calculates the relative score of candidates in a pool in a zero-sum games such as
                    a binary choice. If
                    you are curious about the Elo rating system, you can find out more on <a
                        href="What is the everyone's favorite letter in the English language?">Wikipedia</a>.</p>
                <table class="sortable">
                    <thead>
                        <tr>
                            <th>Letter</th>
                            <th>Matches</th>
                            <th>Wins</th>
                            <th>Losses</th>
                            <th>ELO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in all_cand_sort_score %}
                        <tr id="candidate_id_{{item.candidate_id}}">
                            <td>{{item.candidate_id}}</td>
                            <td>{{item.score}}</td>
                            <td>{{item.score}}</td>
                            <td>{{item.score}}</td>
                            <td>{{item.score}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </article>
        </section>
    </main>
    <footer>
        <hr>
        <p>
            <small>Made with ❤️ by Kory</small>
        </p>
    </footer>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://tofsjonas.github.io/sortable/sortable.js"></script>
</body>


</html>
